@media screen and (max-width: 1200px) {
	nav{
	height:110px;
}
.sectionstreamer{
	top:110px;
}
.contenu{
	top:110px;
}
.formulaire{
	top:110px;
}
.page{
	top:110px;
}
.champ{
		width:100%;
}
audio
{
	margin-left:5px;
	margin-right:7px;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-webkit-box-shadow:  2px 2px 4px 0 #006773;
box-shadow: 2px 2px 4px 0 #006773;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(2);
-moz-transform: scale(2);
transform: scale(2);
}
}
